<!DOCTYPE html>
<html>
  <head>
    <title>CS Translator</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
<body>

<div class="navbar navbar-inverse navbar-static-top" style="padding-right: 15px">
  <%= link_to "S&H Translator", :root, class: 'navbar-brand' %>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Random!", root_path %></li>

      <% if @passage %>
        <li>
          <%= link_to phrase_path(params[:id].to_i - 1) do %>
             <span class="glyphicon glyphicon-backward"></span> Previous
          <% end %>
        </li>
        <li>
          <%= link_to phrase_path(params[:id].to_i + 1) do %>
            Next <span class="glyphicon glyphicon-forward"></span>
          <% end %>
        </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><a><%= current_user.email %></a></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => "delete" %></li>
      <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>

<% unless flash.empty? %>
  <div class="container">
    <div class="row">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class => "alert alert-warning" %>
      <% end %>
    </div>
  </div>
<% end %>

<%= yield %>

</body>
</html>
